select {
	display: block;
}

.modal .modal-footer {
	.btn {
		margin-left: 20px;
		margin-right: 20px;
	}

	form {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-end;
		align-items: center;
	}
}

.row {
	margin-bottom: 10px;
}

.input-field {
	margin-top: .5rem;
	margin-bottom: .5rem;
}

.frm_forms {
	fieldset {
		padding: 0;
		border: none;
	}

	.frm_form_field {
		margin-bottom: 20px;
	}

	h3 {
		clear: both;
	}

	label {
		font-size: 0.9rem;
	}

	.frm_button_submit {
		@extend .btn;
	}
}