select {
	display: block;
}

// 	[type=checkbox]:not(:checked), [type=checkbox]:checked {
// 		position: static;
// 		opacity: 1;
// 		pointer-events: initial;
// 	}

.modal .modal-footer {
	.btn {
		margin-left: 20px;
		margin-right: 20px;
	}

	form {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-end;
		align-items: center;
	}
}

.bkl-login {
	max-width: 1000px;
	margin: 60px auto;

	.bkl-middle-section {
		margin-top: 40px;
		margin-bottom: 40px;
		text-align: center;
		font-size: 1.4rem;
		font-weight: bold;
		white-space: nowrap;

		span {
			color: $color__primary;
		}
	}
}

.bkl-login_form-wrapper {
	padding: 20px;

	h2 {
		margin-top: 0;
		margin-bottom: 1.5rem;
	}

	.login-submit {
		margin-bottom: 0;
	}
}

.row {
	margin-bottom: 10px;
}

.input-field {
	margin-top: .5rem;
	margin-bottom: .5rem;
}