select {
	display: block;
}

.modal .modal-footer {
	.btn {
		margin-left: 20px;
		margin-right: 20px;
	}

	form {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-end;
		align-items: center;
	}
}

.row {
	margin-bottom: 10px;
}

.input-field {
	margin-top: .5rem;
	margin-bottom: .5rem;
}

.frm_forms {
	fieldset {
		padding: 0;
		border: none;
	}

	.frm_full {
		clear: both;
	}

	.frm_form_field {
		margin-bottom: 20px;
	}

	h3 {
		clear: both;
	}

	label {
		font-size: 0.9rem;
	}

	.frm_button_submit,
	.frm_final_submit {
		@extend .btn;
	}

	.frm_message,
	.frm_error_style {
		padding: 10px 20px;
		border: $input-border;
		border-radius: 5px;
		margin-bottom: 20px;
	}

	.frm_message {
		border-left: 4px solid $success-color;
	}

	.frm_error_style {
		border-left: 4px solid $error-color;
	}

	.frm_error {
		color: $error-color;
	}
}