html {
	line-height: 1.5;

	@media only screen and (min-width: 0) {
		font-size: 15px;
	}

	@media only screen and (min-width: $medium-screen) {
		font-size: 15.5px;
	}

	@media only screen and (min-width: $large-screen) {
		font-size: 16px;
	}

	font-family: $font-stack;
	font-weight: normal;
	color: $off-black;
}

body {
	border-top: 5px solid $color__primary;
}

.site {
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
	padding: 0 50px;
}

.site-info {
	padding: 25px;
	display: flex;
	justify-content: center;
}

.site-header {
	.brand-logo {
		display: block;
		text-align: center;
		height: 170px;
		padding-top: 30px;
		padding-bottom: 15px;
	}

	img {
		width: auto;
		height: 100%;
	}
}

@media (max-width: $medium-screen) {
	.site-header .brand-logo {
		height: 60px;
		padding: 2px;
		position: absolute;
		top: 5px;
		left: 50%;
		z-index: 100;
		@include transform(translateX(-50%));
	}
}

@media (max-width: $small-screen) {
	.site {
		padding: 0 25px;
	}
}