h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font;
}

h1 {
	line-height: 1.5em;
	
	&:after {
		content: "";
		height: 5px;
		width: 100%;
		display: block;
		background: $color__primary;
		max-width: 200px;
	}
}

.home .entry-title {
	display: none;
}