.posts {
	.entry-header {
		margin-top: 0;
	
		.entry-title {
			margin-top: 0;
		}
	}

	.post {
		a {
			display: block;
			padding: 1em;
			margin-bottom: 1em;
			border: 1px dashed $color__border;
			color: $off-black;

			&:hover {
				background-color: $color__light-gray;
			}
		}
	}
}