.posts {
	.entry-header {
		margin-top: 0;
	
		.entry-title {
			margin-top: 0;
		}

		.entry-meta {
			font-style: italic;
			@extend .grey-text, .text-darken-2;
		}
	}

	.post {
		a {
			display: block;
			padding: 1em;
			margin-bottom: 1em;
			border: 1px dashed $color__border;
			color: $off-black;

			&:hover {
				background-color: $color__light-gray;
			}
		}
	}

	.simcal-calendar {
		font-size: 15px;
	}
}

.single-post article.post,
.content-area.narrow article.page {
	max-width: 800px;
	margin: 0 auto;
}