
// Typography
$font-stack: 'Open Sans', Arial, sans-serif;
$heading-font: 'Oswald', Helvetica, sans-serif;
$off-black: rgba(0, 0, 0, 0.87) !default;

// Heading Styles
$h1-fontsize: 4.2rem !default;
$h2-fontsize: 2.25rem !default;
$h3-fontsize: 2rem !default;
$h4-fontsize: 1.5rem !default;
$h5-fontsize: 1.25rem !default;
$h6-fontsize: 1rem !default;

$navbar-height: 55px;

// Colors
$color__primary: #f2963f;
$color__border: #eee;