nav {
	background: #fff;

	a {
		@extend .black-text;
	}
}

nav.nav-center {
	ul {
		text-align: center;
		
		li {
			display: inline;
			float: none;

			a {
				display: inline-block;
				font-weight: bold;
			}
		}
	}
}